<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">


	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 注入属性值 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql:///novel"></property>
		<property name="user" value="root"></property>
		<property name="password" value="1234"></property>
	</bean>
	
	<!-- 创建sessionFactory工厂 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!--注入dataSource-->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定hibernate核心配置文件 -->
		<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<!--注入sessionFactory-->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
		
	<!-- Dao 注入 SessionFactory -->
	<bean id="readdao" class="cn.edu.glut.daoimpl.ReadDaoimpl" autowire="byType">			
		
		
	</bean>
	
				
	<!-- Action中需要注入Service -->
	
	<!-- 1. 添加书籍到书架 -->
	<bean id="addbooktorackaction" class="cn.edu.glut.action.AddBookToRackAction" scope="prototype">
		<property name="readservice" ref="readservice"></property>		
	</bean>
	
	<!-- 2. 从书架中删除书籍 -->
	<bean id="deletebooktorackaction" class="cn.edu.glut.action.DeleteBookToRackAction" scope="prototype">
		<property name="readservice" ref="readservice"></property>
	</bean>
	
	<!-- 3. 阅读章节 -->
	<bean id="readaction" class="cn.edu.glut.action.ReadAction" scope="prototype">
		<property name="readservice" ref="readservice"></property>
	</bean>
	
	<!-- 4. 列出书的目录 -->
	<bean id="catalogaction" class="cn.edu.glut.action.CatalogAction" scope="prototype">
		<property name="readservice" ref="readservice"></property>
	</bean>
	
	<!-- 5. 添加评论 -->
	<bean id="commentaction" class="cn.edu.glut.action.CommentAction" scope="prototype">
		<property name="readservice" ref="readservice"></property>
	</bean>
	
	<!-- 6. 回复评论 -->
	<bean id="responsecommentaction" class="cn.edu.glut.action.ResponseCommentAction" scope="prototype">
		<property name="readservice" ref="readservice"></property>
	</bean>
	
	<!-- 7. 列出书架的书籍 -->
	<bean id="showrackaction" class="cn.edu.glut.action.ShowRackAction" scope="prototype">
		<property name="readservice" ref="readservice"></property>
	</bean>

	<!-- Service 需要注入 Dao -->
	
	<bean id="readservice" class="cn.edu.glut.serviceimpl.ReadServiceimpl">
		<property name="readdao" ref="readdao"></property>
	</bean>

</beans>
