<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
				
			
	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 注入属性值 -->
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql:///novel"></property>
		<property name="user" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	
	<!-- 创建sessionFactory工厂 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!--注入dataSource-->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定hibernate核心配置文件 -->
		<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<!--注入sessionFactory-->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Bean注入 -->
	<bean id="userAction" class="cn.edu.glut.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="userService" class="cn.edu.glut.serviceimpl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="userDao" class="cn.edu.glut.daoimpl.copy.UserDaoImpl">
		<!-- 注入HibernateTemplate -->
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 作者模块 -->
	<bean id="authorAction" class="cn.edu.glut.action.AuthorAction">
		<property name="authorService" ref="authorService"></property>
	</bean>
	<bean id="authorService" class="cn.edu.glut.serviceimpl.AuthorServiceImpl">
		<property name="authorDao" ref="authorDao"></property>
	</bean>
	<bean id="authorDao" class="cn.edu.glut.daoimpl.copy.AuthorDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 用户信息模块 -->
	<bean id="userprofileAction" class="cn.edu.glut.action.UserprofileAction">
		<property name="userprofileService" ref="userprofileService"></property>
	</bean>
	<bean id="userprofileService" class="cn.edu.glut.serviceimpl.UserprofileServiceImpl">
		<property name="userprofileDao" ref="userprofileDao"></property>
	</bean>
	<bean id="userprofileDao" class="cn.edu.glut.daoimpl.copy.UserprofileDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<!-- 管理员模块 -->
	<bean id="adminAction" class="cn.edu.glut.action.AdminAction">
		<property name="adminService" ref="adminService"></property>
	</bean>
	<bean id="adminService" class="cn.edu.glut.serviceimpl.AdminServiceImpl">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	<bean id="adminDao" class="cn.edu.glut.daoimpl.copy.AdminDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
</beans>
